{% include head-dark.html %}

<section class="article pad-top">

      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{ page.title }}</h1>
            <p class="intro">
              {% if page.tip %}
                {{ page.tip }}
              {% else %}
                {{ page.tagline }}
              {% endif %}
            </p>

          </hgroup>
        </header>

        {{ content }}

      </article>
    </section>
</div>

{% include footer.html %}

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ced8920d7839fe827a359b7fe6c7de79";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

