{% include head-dark.html %}
    <div id='bump'>
        <section class="article archive">
          <article class="wrap post">
        <header class="post-header">
          
        </header>

        {{ content }}

      </article>
        </section>
    </div>
{% include footer.html %}

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ced8920d7839fe827a359b7fe6c7de79";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
