<!doctype html>
<html lang="zh" prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

{% include graphs.html %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' /> -->
<!-- <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'> -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/entypo.css" media="all">

<!-- In order to use Calendas Plus, you must first purchase it. Then, create a font-face package using FontSquirrel.
<link rel='stylesheet' href='{{ site.url }}/assets/cal.css' media='all' />
-->

<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js">
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">

<!-- Fresh Squeezed jQuery -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/lemontea.ico">
<body>
  <div style="margin:0 auto;text-align: center;padding:20% 0;">
    <h3>等到放晴那天</h3>
	<h5 style="margin-top: 10%"></h5>
  </div>
	<audio style="position: absolute;bottom: 0;right:0;" src="qingtian.mp3" controls="controls" type="audio/mpeg">
	Your browser does not support the audio tag.
	</audio>
</body>
</html>
<script type="text/javascript">
	$(function(){
		var myAud=document.createElement('audio');
		var isSupp=myAud.canPlayType("audio/mpeg");
		if(!isSupp){
			$('h5').html("本来有歌听的，可惜你这浏览器不支持啊[0_0]");
		}
		window.setTimeout(function(){

			//do something...
			$('audio')[0].play();
		},3000);
		
	});
	
</script>
