{% include head.html %}
<style type="text/css">
  article img{
    max-height: 600px;
    max-width: 400px;
  }
  .back_to_top{
    position: fixed;
    bottom:20px;
    right: 20px;
    border:none;/*1px solid #888;*/
    width:48px;
    height:48px;
    background: #f9f9f9;
    background-image: url({{ site.url }}/images/back_to_top.ico);

  }
  p{
    font-size: 18px;
  }
  code{
    font-size: 18px;
  }
</style>
<section class="article">

{% if page.image.feature %}
  <div class="overlay"></div>
  {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
  <div class="featured-image" style="background-image: url({{ page.image.feature }})"></div>
  {% else %}
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
  {% endif %}
{% else %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
{% endif %}


      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{page.title}}</h1>
            <p class="date">{{page.date | date: "%b %d, %Y" }}</p>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
        </header>

        {{ content }}
      <!-- 分享按钮 -->
      <!-- <p>
        <div class="jiathis_style_32x32" style="float:right">
          <a class="jiathis_button_weixin"></a>
          <a class="jiathis_counter_style"></a>
        </div>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
      </p> -->
      <!-- <a class="share" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.canonical }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true">Share</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
      <!-- 分享按钮end -->

      {% if page.comments %}
      <aside class="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ site.owner.disqus }}'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </aside>
      {% endif %}


      </article>

    </section>
</div>

<button class="back_to_top"></button>

{% include footer.html %}

<script type="text/javascript">
  var backButton=$('.back_to_top');
    function backToTop() {
        $('html,body').animate({
            scrollTop: 0
        }, 800);
    }
    backButton.on('click', backToTop);

    $(window).on('scroll', function () {/*当滚动条的垂直位置大于浏览器所能看到的页面的那部分的高度时，回到顶部按钮就显示 */
        if ($(window).scrollTop() > $(window).height())
            backButton.fadeIn();
        else
            backButton.fadeOut();
    });
    $(window).trigger('scroll');/*触发滚动事件，避免刷新的时候显示回到顶部按钮*/
</script>
